<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
<insert id="add" parameterType="mvo">
	insert into member 
	values(member_seq.nextVal,#{id},#{pwd},#{name},#{age},
	#{gender},sysdate)
</insert>
<select id="idchk" parameterType="String" resultType="int">
	select count(*) from member where id=#{id}
</select>

<select id="list" resultType="mvo">
	select * from member order by 1 desc
</select>
<select id="listpage" resultType="mvo" parameterType="map">
	 select * from (
    select rownum r_num, a.* from (
     select * from member order by mnum desc
    ) a
 ) where r_num BETWEEN #{begin} and #{end}
</select>
 <select id="totalCount" resultType="int">
 	select count(*) from member
 </select>

<select id="mypage" resultType="mvo" parameterType="String">
	select * from member where id=#{id}
</select>


<delete id="del" parameterType="String">
	delete from member where id=#{id}
</delete>

<!-- login mapper -->
<select id="login" parameterType="mvo" resultType="mvo">
	select id, name from member where id=#{id} and pwd=#{pwd}
</select>

<resultMap type="mvo" id="review">
		<id property="mem_no" column="mem_no" javaType="int"/>
		<result property="mem_name" column="mem_name" /> 
		
		<collection property="rvo" javaType="java.util.List" 
		ofType="rvo">
		<id property="r_no" column="r_no" javaType="int"/>
		<result property="r_num" column="r_num" javaType="int"/> 
		<result property="ord_no" column="ord_no" javaType="int"/>
		<result property="mem_no" column="mem_no" javaType="int"/>
		<result property="i_no" column="i_no" javaType="int"/>
		<result property="r_name" column="r_name"/>
		<result property="r_comm" column="r_comm"/>
		<result property="r_score" column="r_score" javaType="int"/>
		<result property="r_date" column="r_date"/>
		</collection>
	
	</resultMap>

	
	<select id="reviewlist" parameterType="mvo" resultMap="review">
		     select rownum r_num ,a.* from( select r.i_no,
		m.mem_name,r.r_name,r.r_comm ,r.r_score,r.r_date 
		from reviews r ,member m 
		 where r.mem_no = m.mem_no ) a where a.i_no =${i_no}
		</select>

</mapper>






 

