<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="survey">
 <insert id="add" parameterType="survo">
    insert into survey values(survey_seq.nextVal,#{sub},#{code},sysdate)
 </insert>
  	<!-- 
 	insert all
	into surveycontent values('A',1,'온다',0)
	into surveycontent values('B',1,'안온다',0)
	into surveycontent values('C',1,'모른다',0)
	select * from dual
 	 -->
 <insert id="addcontent" parameterType="java.util.List">
 	<selectKey keyProperty="id" resultType="int" order="BEFORE">
 		select survey_seq.currVal from dual
 	</selectKey>

 	<foreach collection="list" item="e" separator=" " open="insert all" close="select * from dual">
 		into surveycontent values(#{e.subtype},#{id},#{e.surveytitle},0)
 	</foreach>
 </insert>
 <!-- 
 	@Data
 	class DeptVO{
 		private int deptno;
 		private String dname;
 		private String loc;
 	}
 <resultMap type="dptvo" id="did">
 	<id property="deptno" column="deptno"/>
 	<result property="dname" column="dname"/>
 	<result property="location" column="location" />
 </resultMap>
 <select id="dept" resultMap="did">
 	select deptno, dname, loc as location from sawon
 </select>
 
  -->
<!-- 
SurveyVO와 SubveyContentVO은 1:N의 관계
    
    // config.xml에 survo
	public class SurveyVO {
	// ResultMap - 부서 1 : N 관계
	private List<SurveyContentVO> subvey;
	=> <collection>
	
	ofType="subvo"는 결국 SurveyVO 존재하는 property List<SurveyContentVO>
	제네릭 타입을 설정한다.
 -->
<resultMap type="survo" id="surview">
	<id property="num" column="num" javaType="int"/>
	<result property="sub" column="sub"/>
	<result property="sdate" column="sdate"/>
	<collection property="subvey" javaType="java.util.List"
	ofType="subvo" 
	>
	<result property="subcode" column="subcode" javaType="int"/>
	<result property="subtype" column="subtype"/>
	<result property="surveytitle" column="surveytitle"/>
	<result property="surveycnt" column="surveycnt" javaType="int"/>
	</collection>
</resultMap> 
 
<select id="adminDetail" parameterType="int" resultMap="surview">

select s.num ,s.sub,s.code,s.sdate,
sc.subtype, sc.subcode, sc. surveytitle, sc.surveycnt
from survey s, surveycontent sc 
where s.num=sc.subcode and s.num=#{num}
</select>	




















 </mapper>